<div class="container">
  <h2><%= current_user.first_name.capitalize %> <%= current_user.middle_name.capitalize %> <%= current_user.last_name.capitalize %></h2>
  <ul class="list-group">
    <li class="list-group-item"><%= current_user.email %></li>
  </ul>
  <h2>Address:</h2>
  <ul class="list-group">
    <li class="list-group-item"><%= @address.street %>, <%= @address.house_number %></li>
    <li class="list-group-item"><%= @address.city %></li>
    <li class="list-group-item"><%= @address.post_code %></li>
    <li class="list-group-item"><%= @address.country %></li>
  </ul>
  <div><%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-primary btn-lg" %></div>
    <% if @packages_receiver.exists? %>
      <h2>Those packages are waiting for you with:</h2>
      <%= render "package_waiting" %>
    <% end %>
      <% if @packages.exists? %>
        <h2>Packages Received for Neighbours</h2>
        <%= render "package_recieved" %>
      <% end %>
    </div>
